@import "styles/variables";

.main {
  padding-top: 1rem;
}

.image {
  width: 100%;
  height: 45rem;
  object-fit: cover;
}

.main__content {
  height: auto;
  width: 100%;
  background: $basic-color;
  padding: 3rem;
}

.slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $white;
  font-size: 1.6rem;
}
