@import "styles/variables";

.contact__wrapper {
  padding: 3rem;
}

.contact__container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-gap: 1rem;
  font-size: 1.6rem;
  color: $white;
}
