@import "styles/variables";

.aboutCompany__wrapper {
  padding: 3rem;
}

.aboutCompany__container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-gap: 1rem;
  font-size: 1.6rem;
}

.aboutCompany__photo {
  height: 20rem;
  width: 20rem;
  fill: $super-light-gray;
}

