@import 'variables.scss';

html {
  font-size: 10px;
  font-family: $font-family;
}

h1, h2, h3, h4, h5, p {
  font-family: $font-family;
  margin: 0;
}

h1, h2 {
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}

body {
  font-size: 1.4rem;
  width: 100vw;
  overflow-x: hidden;
  min-width: 36rem;
  color: $basic-font-color;

  @media (min-width: $lg) {
    width: 100%;
  }

  @media (min-width: 1311px) {
    width: 100vw;
  }

  @media (min-width: 1920px) {
    width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
