// Fonts:
$font-family-fallback: 'Lato-polyfill', 'Constantia';
$font-family: 'Lato', $font-family-fallback;

$sm: 360px;
$md: 768px;
$lg: 1280px;
$hd: 1920px;

$dark-gray: #2E353B;
$basic-font-color: $dark-gray;